/* .about-us {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.about-us h1 {
    color: #800000;
    text-align: center;
    font-weight: bold;
}

.about-us-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.about-us-image {
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.about-us i {
    color: #008080;
    display: block;
    text-align: center;
    margin: 10px 0;
}

.about-us p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333333;
    text-align: justify;
}



@media (max-width: 768px) {
    .about-us p {
        font-size: 1rem;
    }
} */

.about-us {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 30px;
    width: 100%;
}

.about-us-header {
    text-align: center;
}

.about-us h1 {
    color: #800000;
    font-weight: bold;
}

.about-us i {
    color: #008080;
    display: block;
    margin: 10px 0;
}

.about-us p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333333;
    text-align: justify;
}

.about-us-image-container,
.about-us-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.about-us-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .about-us {
        padding: 10px;
        margin-bottom: 20px;
    }

    .about-us p {
        font-size: 1rem;
        line-height: 1.4;
    }

    .about-us-image-container,
    .about-us-text-container {
        width: 100%;
        flex-direction: column;
    }
}