.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffff;
    border-bottom: inset;
    box-shadow: 0px 9px 5px 1px rgba(142, 128, 128, 0.75);
    -webkit-box-shadow: 0px 9px 5px 1px rgba(142, 128, 128, 0.75);
    -moz-box-shadow: 0px 9px 5px 1px rgba(142, 128, 128, 0.75);
  }
  .logo {
    width: 7.5rem;
    height: 7rem;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: rotate(3.5deg);
  }
  .header .title {
    flex: 1;
    text-align: center;
    box-shadow: 6.5px 4px 5px 1px rgba(142, 128, 128, 0.75);
    -webkit-box-shadow: 6.5px 4px 5px 1px rgba(142, 128, 128, 0.75);
    -moz-box-shadow: 6.5px 4px 5px 1px rgba(142, 128, 128, 0.75);
    max-width: 18rem;
    border-radius: 45%;
    height: 2rem;
    font-weight: 600;
    text-decoration: underline;
  }
  .header .icons {
    display: flex;
    gap: 10px;
  }