/*.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 2px solid #800000;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  width: 6.5rem;
  height: 5rem;
  margin-right: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: pendulum 2s infinite ease-in-out;
}

.header .icons{
  display: flex;
  gap: 10px;
  color: #800000;
}

@keyframes pendulum {
  0% {
      transform: rotate(3.8deg);
  }
  25% {
      transform: rotate(5deg);
  }
  50% {
      transform: rotate(3.8deg);
  }
  75% {
      transform: rotate(2.6deg);
  }
  100% {
      transform: rotate(3.8deg);
  }
}

@media (max-width: 768px) {
  .header .title {
      max-width: 100%;
      margin-bottom: 10px;
      font-size: 1.2rem;
  }

  .header .icons {
      justify-content: center;
      gap: 15px;
  }
}

@media (max-width: 480px) {
  .header {
      padding: 10px;
  }

  .header .title {
      font-size: 1rem;
      padding: 5px 10px;
      width:1.5rem;
      background-color: #fff;
      box-shadow:none;
  }

  .header .icons {
      gap: 8px;
  }
}*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 2px solid #800000;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  width: 6.5rem;
  height: 5rem;
  margin-right: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: pendulum 2s infinite ease-in-out;
}

.header__icons {
  display: flex;
  gap: 10px;
  color: #800000;
}

@keyframes pendulum {
  0%, 50%, 100% {
    transform: rotate(3.8deg);
  }
  25%, 75% {
    transform: rotate(5deg);
  }
}

@media (max-width: 768px) {
  /* .header__title {
    max-width: 100%;
    margin-bottom: 10px;
    font-size: 1.2rem;
  } */

  .header__icons {
    justify-content: center;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px;
  }

  /* .header__title {
    font-size: 1rem;
    padding: 5px 10px;
    width: auto;
    background-color: #fff;
    box-shadow: none;
  } */

  .header__icons {
    gap: 8px;
  }
}
