.new-events {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 45rem;
}

.new-events-header {
  text-align: center;
}

.new-events .form-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-left: auto;
}

.new-events h1 {
  /* color: #800000;
  text-align: center; */
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 2rem;
}

.event-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-10px);
}

.events-table {
  width: 100%;
  border-collapse: collapse;
}

.events-table th, .events-table td {
  padding: 8px;
  text-align: left;
}

.events-table th {
  background-color: #800000;
  color: #ffffff;
}

@media (max-width: 768px) {
  .new-events {
    width: 90%;
  }

  .form-btn {
    justify-content: center;
  }
}
