.new-events {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
}
.new-events h1 {
  color: #800000;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-btn {
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f9f9f9; /* Add a background color for visibility */
  color: #333; /* Dark grey text for readability */
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  float: right; /* Align the button to the right */
  display: inline-flex; /* Use inline-flex to ensure the button's width fits its content */
  z-index: 1; /* Ensure the button appears above the dropdown */
}

.form-btn:hover {
  background: linear-gradient(to bottom, #950000, #800000);
  color: #ffffff; /* White text on hover for contrast */
}

.toggle-icon {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.toggle-text {
  font-size: 16px;
}

.event-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-10px);
}

.events-table {
  width: 100%;
  border-collapse: collapse;
}

.events-table th, .events-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.events-table th {
  background-color: #800000;
  color: #ffffff;
}

@media (max-width: 768px) {
  .new-events {
    width: 90%;
  }

  .form-btn {
    justify-content: center;
  }
}
