.sidebar {
  /* height: calc(95vh - 2rem); */
  height: auto;
  width: 12rem;
  position: relative;
  top: 1rem;
  left: 0.2rem;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 0 5px 5px 0;
  transition: width 0.3s;
  box-shadow: 7px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.sidebar.closed {
  width: 80px;
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  background-color: #800000;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px; /* Add some padding for layout */
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  color: #333; /* Dark grey text for readability */
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

.menu-item:hover {
  background: linear-gradient(to bottom, #950000, #800000);
  color: #ffffff;
  background-blend-mode: overlay;
}

.menu-item span {
  margin-left: 10px;
}

.resize-btn {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #800000; /* 10% Primary color for resize button */
  color: #ffffff; /* White text to ensure contrast */
  border-radius: 50%;
  cursor: pointer;
  transition: width 0.3s;
}

.menu-hidden{
  display:none;
}

.toggle-btn, .resize-btn {
  background: linear-gradient(to bottom, #950000, #800000);
  color: #ffffff;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3); /* Inner shine */
  transition: background 0.3s ease;
}
