:root {
  --primary-color: #800000; /* Accent color (10%) */
  --secondary-color: #a55f5f; /* Secondary color (30%) */
  --dominant-color: #ffffff; /* Dominant color (60%) */
  --text-color: #333; /* Standard text color */
  --border-color: #cccccc; /* Light grey for borders */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardClass {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.cardClass1 {
  background-color: #ffffff; /* White card background */
  border: 1px solid #cccccc; /* Light grey border */
  color: #333; /* Dark grey text */
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 17rem;
  width: 15rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.cardClass1:hover {
  background-color: #800000; /* Primary color on hover */
  color: #ffffff; /* White text on hover */
}

.cardClass1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); /* Glossy effect */
  border-radius: 10px;
  pointer-events: none;
}

.cardClass1:hover::before {
  background: rgba(255, 255, 255, 0.1); /* Glossy effect on hover */
}

.card-content {
  z-index: 1; /* Ensure text is above the glossy effect */
  text-align: center;
}

.miniature-component {
  transform: scale(0.9);
  transform-origin: top left;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}